@import url(https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap);

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Playfair Display", serif;
}

:root {
}

body {
  font-size: 16px;
}

.main-content {
  position: relative;
  display: flex;
  height: 100vh;
}

img {
  width: 100%;
  min-height: 100vh;
}

.form-container {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #e5e7eb;
  width: 70%;
  padding-bottom: 2rem;
  min-height: 100vh;
}

form {
  background-color: white;
  padding: 1rem 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

label {
  display: block;
  letter-spacing: 0.1rem;
}

button {
  background-color: #596d48;
  color: white;
  margin: 2rem;
  border-radius: 5px;
  border: none;
  padding: 0.7rem 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

a:link,
:visited {
  text-decoration: none;
  color: #596d48;
}

.form-container h2 {
  margin: 8rem 2rem 5rem;
  max-width: 40rem;
  font-weight: 500;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  padding: 0rem 2rem 1rem;
}

label + input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  margin: 0rem 4rem 0rem 0rem;
  height: 1.8rem;
  padding-left: 0.5rem;
}

button + p {
  margin: 0rem 2rem;
}

.banner {
  position: absolute;
  top: 325px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  width: 30%;
  text-align: center;
  padding: 1rem;
  color: white;
}

@media (max-width: 805px) {
  .main-content {
    height: 125vh;
  }
  .form-container {
    height: 125vh;
  }
}

@media (max-width: 510px) {
  .main-content {
    height: 150vh;
  }
  .form-container {
    height: 150vh;
  }
}
